.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 32px;
}

.projects-container-v2 {
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4rem;
    height: min-content;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.project-item {
    @apply bg-white border border-gray-200 rounded-2xl overflow-hidden;
    box-shadow: 0px 2px 28px 0px rgba(197, 197, 197, 0.25);

    &.has-link {
        transition: transform 0.4s ease, box-shadow 0.4s ease;

        &:hover,
        &:focus {
            @apply shadow-lg;
            transform: translateY(-0.5rem);
        }

        .project-item--header img {
            @apply inline-block ml-1 w-5 h-5;
            filter: brightness(0) saturate(100%) invert(33%) sepia(10%) saturate(542%) hue-rotate(169deg) brightness(95%) contrast(88%);
        }
    }

    .project-item--image {
        @apply bg-gray-100 p-6;

        img {
            @apply w-full h-60 object-scale-down;
        }
    }

    &[id="logos"] .project-item--image {
        @apply bg-white;
    }

    &[id="designSystem"] .project-item--image {
        @apply bg-gradient-designsystem;
    }

    &[id="showcase"] .project-item--image {
        @apply bg-gradient-showcase;
    }

    .project-item--info {
        @apply flex flex-col gap-y-2 p-6 pt-3;

        h2 {
            @apply font-semibold text-2xl;
            overflow-wrap: break-word;
        }

        .project-item--description {
            @apply text-color-font-detail;
        }

        .project-item--tags {
            @apply flex flex-wrap gap-2;

            .tag {
                @apply text-xs rounded-md py-1.5 px-2 bg-color-primary-light;
            }
        }
    }
}

.project-item-v2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 28px 0px rgba(197, 197, 197, 0.25);
    min-height: 520px;
    width: 100%;

    &.has-link {
        .project-item--header img {
            @apply inline-block ml-1 w-5 h-5;
            filter: brightness(0) saturate(100%) invert(33%) sepia(10%) saturate(542%) hue-rotate(169deg) brightness(95%) contrast(88%);
        }

        &:hover .project-item--image {
            transform: scale(1.05);
        }
    }

    &[id="logos"] {
        background: rgba(245,251,255,1);
        background: linear-gradient(115deg, rgba(245,251,255,1) 0%, rgba(194,233,255,1) 100%);
    }

    &[id="designSystem"] {
        background: rgba(235,241,255,1);
        background: linear-gradient(115deg, rgba(235,241,255,1) 0%, rgba(183,207,255,1) 100%);
    }

    &[id="showcase"] {
        background: rgba(255,253,245,1);
        background: linear-gradient(115deg, rgba(255,253,245,1) 0%, rgba(255,241,194,1) 100%);
    }

    &[id="cfaQuiz"] {
        background: rgba(245,253,255,1);
        background: linear-gradient(115deg, rgba(245,253,255,1) 0%, rgba(194,244,254,1) 100%);
    }

    .project-item--image {
        max-width: 1024px;
        transition: transform 0.4s ease;
    }

    .project-item--info {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        left: 2rem;
        bottom: 2rem;
        max-width: 20rem;

        h2 {
            @apply font-semibold text-3xl mb-2;
            overflow-wrap: break-word;
        }

        .project-item--description {
            @apply text-color-font-detail;
        }

        /* Responsive styling */
        @media only screen and (max-width: 1280px) {
            top: 2rem;
            padding-right: 2rem;
            bottom: unset;
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 640px) {
        min-height: 400px;

        .project-item--info h2 {
            @apply text-2xl;
        }
    }
}