.about-container {
    @apply flex flex-col gap-12;

    /* Responsive styling */
    @apply lg:gap-24 lg:flex-row;
}

.about-description {
    @apply text-lg;

    &.with-divider {
        @apply relative mt-5;
        padding-top: 3.25rem;

        &:before {
            @apply absolute h-8 w-0.25 top-0 left-1/2 bg-color-primary;
            content: '';
            transform: translateX(-50%);
        }
    }
}

.about-description--divider {
    @apply mt-5 h-8 w-0.25 bg-color-primary;
}

.about-info--wrapper {
    @apply flex flex-col items-center;

    p {
        opacity: 1;           /* Ensure paragraphs are visible initially */
        transform: translateY(0); /* Set starting vertical position */
        transition: none;     /* Disable CSS transitions */
    }
}

.about-cards--wrapper {
    @apply flex flex-col gap-8 pb-8 justify-center;

    /* Responsive styling */
    @apply md:flex-row;
}

.about-card {
    @apply relative p-10 bg-white border border-gray-200 rounded-2xl text-center;
    box-shadow: 0px 2px 28px 0px rgba(197, 197, 197, 0.25);

    /* Responsive styling */
    @apply sm:min-w-96;

    h2 {
        @apply pb-2 font-semibold text-2xl;
        overflow-wrap: break-word;
    }

    p {
        @apply text-color-font-detail;
    }

    &::before {
        @apply absolute top-0 left-1/2 w-12 h-12 bg-color-primary rounded-full;
        content: '';
        transform: translateX(-50%) translateY(-50%);
        background-position: center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
    }

    &[id="experience-about"]::before {
        background-image: url(/src/assets/briefcase-outline.svg);
    }

    &[id="education"]::before {
        background-image: url(/src/assets/school-outline.svg);
    }
}

.about-image--wrapper {
    @apply flex self-center max-w-80 max-h-80;
    
    @media (min-width: 1024px) {
        max-width: 26rem;
        max-height: 30rem;       
    }



}
